.header{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #9d9da9;
  margin-bottom: 30px;
}

.header__logo{
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  font-size: 35px;
  line-height: 1.4;
  font-family: var(--ff);
}